/*
Crossword cells are stuck in a big table.  They look like this:
  td, 1px black border -- crossword cell
    div, 3ex width/height, relative pos -- holds the cell content
    div, absolute, small font -- number, if there is one
The focus is attached to a cell by making it a child of the cell:
  div, absolute, bordered, sized 100%x100%
*/

#crosswordui {
  font-family: sans-serif;
  border-top: solid 1px #333;
  border-left: solid 1px #333;
  -moz-user-select: none;
}

#crosswordui td.filled {
  background: #333;
}
#crosswordui td.highlighted {
  background: #ccf !important;
}

#crosswordui td div.number {
  z-index: 1;
  position: absolute;
  font-size: 7pt;
  font-family: sans-serif;
}

#crosswordui div.letter {
  z-index: 2;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: 3ex;    /* vertical centering! */
  width:       3ex;
  height:      3ex;
  position: relative;
  border-right: solid 1px #333;
  border-bottom: solid 1px #333;
  cursor: pointer;
}

#crosswordui div.guess {
  color: #999;
}

div.focusbox {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
}

#clues {
  width: 100%;
  text-align: left;
}
#clues div.scroller {
  overflow: auto;
  border: solid 1px #ccc;
  height: 10em;
}
#clues div.primaryhighlighted {
  border-top: #ccf solid 1px;
  border-bottom: #ccf solid 1px;
  background: #ccf;
}
#clues div.otherhighlighted {
  border-top: #ccf dashed 1px;
  border-bottom: #ccf dashed 1px;
}
#clues div.clue {
  padding: 0 0.1em;
  cursor: pointer;
}
#clues h3.down {
  padding-top: 0.5em;
}

#console div.container {
  border: solid 1px #ccc;
}
#console div.containerhighlighted {
  border: solid 1px #f20;
  background: #fffaf7;
}
#console div.scroller {
  min-height: 3em;
}
#console div.scroller div {
  padding: 0.1em 0.1em;
}
#console div.scroller span.time {
  color: #aaa;
}
#console div.scroller span.name {
  padding: 0 0.2em;
}
#console div.scroller span.correct {
  padding: 0 0.2em;
  background: #d00;
  color: #fff;
  font-weight: bold;
}
#console input.entry {
  border: none;
  border-top: solid 1px #ccc;
  padding: 0.1em;
}
#console input.entryfocused {
  border: solid 2px blue;
}

#roster {
  width: 12em;
}
#roster div.namediv {
  padding: 0.3em;
  overflow: hidden;
}
#roster div.namedivhl {
  border: solid 2px #f40;
}
#roster span.nametext {
  margin-right: 0.25em;
}
#roster a.namelink {
  padding: 0 0.2em 0.1em 0.2em;
}
#roster input.nameinput {
  border: solid 1px gray;
}
#roster div.container {
  border: solid 1px #ccc;
}
#roster div.line {
  padding: 0.3em 0.2em;
}
#roster div.scroller {
  border-top: solid 1px #ccc;
}
#roster div.line span.name {
  padding: 0.2em;
}
