<p>lmnopuz: crosswords from your web browser.<br>
Currently serving {{NUMCROSSWORDS}} crosswords.</p>

<table cellpadding='0' cellspacing='0' id='columns'><tr>
  <td class='column'>
    <p>Solve a crossword on your own:<br>
    <a href='crossword/'>Select a single-player crossword</a>.</p>
  </td>
{{#MULTI}}
  <td class='column'>
    <p>Work on a crossword with a group:<br>
    <a href='session/'>Start or join a multiplayer session</a>.</p>
  </td>
{{/MULTI}}
</tr></table>
