<html>
<head>
  <link rel='stylesheet' type='text/css' href="{{CSS}}"/>
  <title>{{TITLE}}</title>
</head>
<body><div id='content'>

<h1><table cellpadding='0' cellspacing='0'><tr>
  {{#LETTERS}}<td>{{L}}</td>{{/LETTERS}}
</tr></table></h1>

{{CONTENT:r}}

<address>
Served by <a href="http://neugierig.org/software/lmnopuz/">lmnopuz</a>.
</address>

</div></body>
</html>
